@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'Personable';
  src: url('../fonte//Personable.otf') format('opentype');
}
:root{
    --cor1: #3e342b;
    --cor2: #ffc874;
    --cor3: #d4a053;
    --cor4: #101010;

    --fonte-padrao: 'Inter', sans-serif, 'cursive';
    --fonte-destaque: 'Raleway', serif, helvetica;
    --fonte-nome: 'Personable' serif;
    --fonte-cabeca: 'Libre Baskerville', serif;


body {
    background-color: white;
    height: 100vh;
    margin: 0px;
}
 main {
    margin: auto;
    padding: 20px;
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.405);
    min-width: 300px;
    max-width: 1000px;
 }

}

header {
    background-color: white;
    text-align: center;
    padding: 30px;
}

header h1 {
    font-weight: normal;
    font-family: 'Personable';
    font-size: 5em;
    margin-bottom: -20px;
    margin-top: 10px;
}

header p {
    font-family: 'Raleway';
    font-weight: 300;
    font-size: 1.5em;
    margin-top: 20px;
}

p {
    font-family: var(--fonte-padrao);
    margin-top: 20px;
}

h2 {
    font-family: var(--fonte-cabeca);
    font-style: italic;
    font-weight: 400;
    font-size: 2em;
}

button {
    padding: 5px;
    margin-top: 20px;
}

h3 {
    font-family: var(--fonte-padrao);
    font-weight: 300;
    color: #3e342b;
    background-color: white;

    padding-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

nav {
    background-color: white;
    text-align: center;
    margin-bottom: 10px;
    margin-top: -20px;
}

nav a {
    padding-left: 40px;
    font-family: var(--fonte-padrao);
    text-align: center;
}

a {
  text-decoration: none;
  color: var(--cor4);
}

a:hover {
  color: var(--cor4);
}

div {
    background-color: var(--cor4);
    color: var(--cor4);
    text-align: left;
    padding: 40px;
    margin-top: -10px;
    margin-bottom: -20px;
}

#imagem {
  background-color: rgba(0, 0, 0, 0.508);
  background-image: url(../images/amanda1200.jpeg);
  background-repeat: repeat;
  background-position:  top center;
  background-size: cover;
  background-attachment: fixed;
}



main {
    margin: auto;
    padding: 20px;
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.405);
    min-width: 300px;
    max-width: 1px;
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 50px;
  background-color: var(--cor1);
}

.galeria img {
  width: 250px;
  height: auto;
  border-radius: 1px;
  object-fit: cover;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.texto {
  flex: 1;
  min-width: 200px;
  background-color: var(--cor3);
}

.texto h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.texto p {
  font-size: 1.1rem;
  margin-bottom: 15px;
}

.texto button {
  padding: 10px 20px;
  background-color: var(--cor1);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container img {
  flex: 1;
  max-width: 300px;
  width: 100%;
  height: 267px;
  border-radius: 2px;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    text-align: center;
  }

  .container img {
    max-width: 70vh;
  }
}
